@page
@using Vail_Engineering.Models;
@model Vail_Engineering.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Record.Date" class="control-label"></label>
                <input asp-for="Record.Date" type="date" class="form-control" />
                <span asp-validation-for="Record.Date" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Record.IsHazzard" /> @Html.DisplayNameFor(model => model.Record.IsHazzard)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Record.WasteCategory" class="control-label"></label>
                @Html.DropDownListFor(m => m.WasteCategoryId, new SelectList(Model.WasteCategories, "Id", "Description"), "-- Select Waste Category --", new { @class = "form-control" })
                <span asp-validation-for="Record.WasteCategory" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Record.Location" class="control-label"></label>
                @Html.DropDownListFor(m => m.LocationId, new SelectList(Model.Locations, "Id", "Name"), "-- Select Waste Category --", new { @class = "form-control" })
                <span asp-validation-for="Record.WasteCategory" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Record.BioDegradable" /> @Html.DisplayNameFor(model => model.Record.BioDegradable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Record.Bin.Quantity" class="control-label"></label>
                <input asp-for="Record.Bin.Quantity" class="form-control" />
                <span asp-validation-for="Record.Bin.Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Record.Bin.BinType" class="control-label"></label>
                @Html.DropDownListFor(m => m.BinType, new SelectList(Enum.GetValues(typeof(BinTypes))), "-- Select Outlet --", new { @class = "form-control" })
                <span asp-validation-for="Record.Bin.BinType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Outlet" class="control-label"></label>
                @Html.DropDownListFor(m => m.Outlet, new SelectList(Enum.GetValues(typeof(Outlets))), "-- Select Outlet --", new { @class = "form-control" })
                <span asp-validation-for="Record.Outlet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Comment" class="control-label"></label>
                <input asp-for="Record.Comment" class="form-control" />
                <span asp-validation-for="Record.Comment" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
