@page
@model Vail_Engineering.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].IsHazzard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].BioDegradable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].Outlet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Record) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHazzard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BioDegradable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Outlet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
         @*       <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
