@page
@model IndexModel

<!-- Include the necessary Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Create a canvas element to render the chart -->
<div style="display:flex">
    <div style="margin-right:15px">
        <form method="post">
            <div class="form-group">
                <input asp-for="DateTime" type="date" class="form-control" />
            </div>

            <div class="form-group" style="margin-top:15px">
                <input type="submit" value="Generate" class="btn btn-primary" />
            </div>
        </form>
    </div>
   
@*    <div>
        <h2>Bar Chart</h2>
        <div style="width: 400px; height: 300px;">
            <canvas id="barChart"></canvas>
        </div>
    </div>*@

    @if (@Model.WastePercentage != null)
    {
        <div class="flex-item" style="max-width">
            <div>
                <h2>Bin Count</h2>
                <div style="width: 400px; height: 300px;">
                    <canvas id="pieChart2"></canvas>
                </div>
            </div>

            <div>
                <h2>Waste Percentage</h2>
                <div style="width: 400px; height: 300px;">
                    <canvas id="pieChart3"></canvas>
                </div>
            </div>
            <div>
                <h2>Landfil vs Reuse</h2>
                <div style="width: 400px; height: 300px;">
                    <canvas id="pieChart5"></canvas>
                </div>
            </div>
        </div>

        <div class="flex-item">
            <div>
                <h2>Hazard Chart</h2>
                <div style="width: 400px; height: 300px;">
                    <canvas id="pieChart"></canvas>
                </div>
            </div>

            <div>
                <h2>Bio Degradable Chart</h2>
                <div style="width: 400px; height: 300px;">
                    <canvas id="pieChart4"></canvas>
                </div>
            </div>

            <div>
                <h2>Cost Analysis Chart</h2>
                <div style="width: 400px; height: 300px;">
                    <canvas id="pieChart6"></canvas>
                </div>
            </div>

        </div>
    }  

</div>
<script>
    // Access the data from your Razor Page model
    var barData = @Html.Raw(Json.Serialize(Model.BarChartData));
    var binData = @Html.Raw(Json.Serialize(Model.BinDataReport));
    var wastePercentageData = @Html.Raw(Json.Serialize(Model.WastePercentage));
    var hazardData = @Html.Raw(Json.Serialize(Model.HazardChart));
    var degradableData = @Html.Raw(Json.Serialize(Model.DegradableChart));
    var landfilReuseData = @Html.Raw(Json.Serialize(Model.LandfillReuseChart));
    var costAnalysisData = @Html.Raw(Json.Serialize(Model.CostAnalysischart));


    // Initialize the chart
    var barChart = new Chart(document.getElementById('barChart'), {
        type: 'bar',
        data: barData,
        options: {
            responsive: true,
            maintainAspectRatio: true,
            plugins: {
                title: {
                    display: true,
                    text: 'Bar Chart Example',
                    padding: {
                        top: 10,
                        bottom: 30
                    }
                }
            },
            scales: {
                // Customize axis options here
            },
            legend: {
                // Customize legend options here
            },
            tooltips: {
                // Customize tooltip options here
            },
            animation: {
                // Customize animation options here
            }
        }
    });

    var pieChart = new Chart(document.getElementById('pieChart'), {
        type: 'bar',
        data: hazardData
    });

    var pieChart = new Chart(document.getElementById('pieChart2'), {
        type: 'pie',
        data: binData
    });

    var pieChart = new Chart(document.getElementById('pieChart3'), {
        type: 'pie',
        data: wastePercentageData
    });

    var pieChart = new Chart(document.getElementById('pieChart4'), {
        type: 'bar',
        data: degradableData
    });   
    
    var pieChart = new Chart(document.getElementById('pieChart5'), {
        type: 'bar',
        data: landfilReuseData
    });
    var pieChart = new Chart(document.getElementById('pieChart6'), {
        type: 'bar',
        data: costAnalysisData
    });
</script>
